{% extends "base.html" %}
{% block content %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    loginBtn.disabled = true;

    const updateLoginButton = function () {
      loginBtn.disabled =
        username.value.trim() === "" || password.value.trim() === "";
    };

    username.addEventListener("input", updateLoginButton);
    password.addEventListener("input", updateLoginButton);
  });
</script>

<h2>Anmelden</h2>

<form action="/login/" method="POST" class="login-inputs">
  {% csrf_token %}
  <input type="hidden" name="redirect" value="{{ redirect }}" />

  <div class="mdl-textfield mdl-js-textfield">
    <input
      class="mdl-textfield__input"
      name="username"
      type="text"
      id="username"
      value="{{ username|default:'' }}"
    />
    <label class="mdl-textfield__label" for="sample1">Username</label>
  </div>

  {% if userNotExists %}
  <p class="color-red">Username existiert nicht</p>
  {% endif %}


  <div class="mdl-textfield mdl-js-textfield">
    <input
      class="mdl-textfield__input"
      name="password"
      type="password"
      id="password"
    />
    <label class="mdl-textfield__label" for="sample1">Password</label>
  </div>

  {% if wrongPassword %}
  <p class="color-red">Ungültiges Passwort</p>
  {% endif %}

  <button
    id="loginBtn"
    class="login-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
  >
    Login
  </button>

  <br /><br />

  <p>Noch kein Mitglied? <a href="/register/" class="register-link">Hier</a> registrieren</p>
</form>

{% endblock %}
