.page-content {
    padding: 100px 100px;
  }
  .mdl-layout__drawer-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color-grey {
    color: rgba(0, 0, 0, 0.4);
  }

  .login-inputs {
    display: flex;
    flex-direction: column;
  }

  .login-btn {
    width: 120px;
  }